---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"{viewer{login}}"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"viewer":{"login":"test-user"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150ms
